@import "main.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 600px;
    min-height: 200px;
    
    margin: 0 auto;
    
    display: flex;
    border: 1px solid rgb(163, 115, 115);
}

h1 {
    background: red;
    border: 1px solid red;
}

h3 {
    background: red;
    color: #fff;
    font-size: 50px;
}

h2 {
    background: red;
    box-shadow: 0 0 10px red;
}

/* comment */